.site-footer {
  padding: 1em 0;
  background-color: $color__background-footer;

  > .wrap {
    position: relative;

    @include center-wrap($size__wrap-footer);

    @media screen and (min-width: $menu__toggle-breakpoint) {
      display: flex;
      align-items: $flex__footer-align-items;
      justify-content: $flex__footer-justify-content;
    }
  }
}

/*--------------------------------------------------------------
## Footer Widgets
--------------------------------------------------------------*/
@import "footer-widgets";