.site-footer {
  padding: 1em 0;
  background-color: $color__background-footer;

  .wrap {
    @include center-wrap($size__wrap-footer);
    display: flex;
    align-items: $flex__footer-align-items;
    justify-content: $flex__footer-justify-content;
  }
}

/*--------------------------------------------------------------
## Footer Widgets
--------------------------------------------------------------*/
@import "footer-widgets";