.footer-widgets {
  padding: 1em 0;
  background-color: $color__background-footer-widgets;

  .wrap {
    @include center-wrap($size__wrap-footer-widgets);
    display: flex;
    align-items: $flex__footer-widgets-align-items;
    justify-content: $flex__footer-widgets-justify-content;
  }
}
