$menu__main-justify-content: space-between !default;
$menu__main-link-padding: .5em !default;
$menu__main-link-padding-x: $menu__main-link-padding !default;
$menu__main-link-padding-y: $menu__main-link-padding !default;
$menu__main-font-size: 1.1em !default;

$menu__main-sub-link-padding: $menu__main-link-padding !default;
$menu__main-sub-link-padding-x: $menu__main-sub-link-padding !default;
$menu__main-sub-link-padding-y: $menu__main-sub-link-padding !default;
$menu__main-sub-link-width: 200px !default;
$menu__main-sub-font-size: 1em !default;

$menu__utility-justify-content: flex-start !default;
$menu__utility-link-padding: .75em !default;
$menu__utility-link-padding-x: $menu__utility-link-padding !default;
$menu__utility-link-padding-y: $menu__utility-link-padding !default;
$menu__utility-font-size: .9em !default;

$menu__utility-sub-link-padding: $menu__utility-link-padding !default;
$menu__utility-sub-link-padding-x: $menu__utility-link-padding !default;
$menu__utility-sub-link-padding-y: $menu__utility-link-padding !default;
$menu__utility-sub-link-width: $menu__main-sub-link-width !default;
$menu__utility-sub-font-size: $menu__utility-font-size !default;

$menu__split-justify-content: space-between !default;
$menu__split-left-justify-content: $menu__split-justify-content !default;
$menu__split-right-justify-content: $menu__split-justify-content !default;
$menu__split-margin-x: 4em !default;
$menu__split-left-margin-right: $menu__split-margin-x !default;
$menu__split-right-margin-left: $menu__split-margin-x !default;
$menu__split-link-padding: $menu__main-link-padding !default;
$menu__split-link-padding-x: $menu__split-link-padding !default;
$menu__split-link-padding-y: $menu__split-link-padding !default;
$menu__split-font-size: 1em !default;

$menu__split-sub-link-padding: $menu__split-link-padding !default;
$menu__split-sub-link-padding-x: $menu__split-link-padding !default;
$menu__split-sub-link-padding-y: $menu__split-link-padding !default;
$menu__split-sub-link-width: $menu__main-sub-link-width !default;
$menu__split-sub-font-size: $menu__split-font-size !default;
