$menu__main-justify-content: space-between;
$menu__main-link-padding: .5em;
$menu__main-link-padding-x: $menu__main-link-padding;
$menu__main-link-padding-y: $menu__main-link-padding;
$menu__main-font-size: 1.1em;

$menu__main-sub-link-padding: $menu__main-link-padding;
$menu__main-sub-link-padding-x: $menu__main-sub-link-padding;
$menu__main-sub-link-padding-y: $menu__main-sub-link-padding;
$menu__main-sub-link-width: 200px;
$menu__main-sub-font-size: 1em;

$menu__utility-justify-content: flex-start;
$menu__utility-link-padding: .75em;
$menu__utility-link-padding-x: $menu__utility-link-padding;
$menu__utility-link-padding-y: $menu__utility-link-padding;
$menu__utility-font-size: .9em;

$menu__utility-sub-link-padding: $menu__utility-link-padding;
$menu__utility-sub-link-padding-x: $menu__utility-link-padding;
$menu__utility-sub-link-padding-y: $menu__utility-link-padding;
$menu__utility-sub-link-width: $menu__main-sub-link-width;
$menu__utility-sub-font-size: $menu__utility-font-size;
