.comments-area {
  > .wrap {
    @include center-wrap($comments-area-wrap-max-width);
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
