.comments-area {
	> .wrap {
		@include center-wrap($comments-area-wrap-max-width);
		@include layout-wrap($layout-spacer-x);
	}
}

.comment-list {
	padding-left: 0;
	list-style-type: none;

	.comment {
		padding-left: 1rem;
		border: $comment-border;
		border-width: $comment-border-width;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
