.comments-area {
  > .wrap {
    @include center-wrap($comments-area-wrap-max-width);
    width: calc( 100% - #{$content-padding-x} * 2 );
  }
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
