.footer-widgets {
	color: $footer-widgets-color;
	background-color: $footer-widgets-background-color;

	> .wrap {
		@include center-wrap($footer-widgets-wrap-max-width);
		@include layout-wrap();
		padding: $footer-widgets-wrap-padding;
		position: relative;
		column-gap: $footer-widgets-wrap-column-gap;

		@media screen and (min-width: $menu-breakpoint) {
			display: flex;
			align-items: $footer-widgets-wrap-align-items;
			justify-content: $footer-widgets-wrap-justify-content;
		}
	}

	.widget-area {
		flex-basis: $footer-widgets-widget-area-flex-basis;
		flex-grow: $footer-widgets-widget-area-flex-grow;

		a {
			color: $footer-widgets-link-color;
		}
	}

	.widget {
		margin: $footer-widgets-widget-margin;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
