.footer-widgets {
  padding: $footer-widgets-padding-y $footer-widgets-padding-x;
  background-color: $color__background-footer-widgets;

  > .wrap {
    @include center-wrap($footer-widgets-wrap-max-width);
    display: flex;
    align-items: $flex__footer-widgets-align-items;
    justify-content: $flex__footer-widgets-justify-content;
  }
}
