.footer-widgets {
  background-color: $color__background-footer-widgets;

  > .wrap {
    padding: $footer-widgets-wrap-padding-y $footer-widgets-wrap-padding-x;
    @include center-wrap($footer-widgets-wrap-max-width);
    display: flex;
    align-items: $footer-widgets-wrap-align-items;
    justify-content: $footer-widgets-wrap-justify-content;
  }
}
