.site-footer {
  padding: $footer-padding-y $footer-padding-x;
  background-color: $color__background-footer;

  > .wrap {
    position: relative;

    @include center-wrap($footer-wrap-max-width);

    @media screen and (min-width: $menu-toggle-breakpoint) {
      display: flex;
      align-items: $flex__footer-align-items;
      justify-content: $flex__footer-justify-content;
      flex-wrap: $flex__footer-wrap;
    }
  }
}
