.site-footer {
	color: $footer-color;
	background-color: $footer-background-color;

	> .wrap {
		display: flex;
		align-items: $footer-wrap-align-items;
		justify-content: $footer-wrap-justify-content;
		flex-wrap: $footer-wrap-flex-wrap;
		padding: $footer-wrap-padding-y $footer-wrap-padding-x;
		position: relative;

		@include center-wrap($footer-wrap-max-width);
	}
}

.site-info {
	text-align: $site-info-text-align;
}
