.site-info {
	padding: $footer-padding;
	color: $footer-color;
	background-color: $footer-background-color;
	text-align: $site-info-text-align;

	> .wrap {
		@include center-wrap($footer-wrap-max-width);
		@include layout-wrap();
		padding: $footer-wrap-padding;
		position: relative;
	}

	a {
		color: $footer-link-color;

		&:hover,
		&:focus,
		&:focus-within,
		&:active {
			color: $footer-link-hover-color;
		}
	}
}
