.site-header {
  background-color: $header-background-color;

  > .wrap {
    padding: $header-wrap-padding-y $header-wrap-padding-x;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: $header-wrap-align-items;
    justify-content: $header-wrap-justify-content;
    @include center-wrap($header-wrap-max-width);
  }
}

.site-branding {
  padding: $branding-padding-y $branding-padding-x;
  min-width: $branding-min-width;
  text-align: $branding-text-align;

  .site-title {
    margin-bottom: 0;
  }

  .site-description {
    margin-top: .25rem;
    margin-bottom: 0;
  }
}

.header-widgets {
  display: $header-widgets-display;
  justify-content: $header-widgets-justify-content;
  flex-wrap: $header-widgets-flex-wrap;
  flex-grow: $header-widgets-flex-grow;
  order: 5;
  width: 100%;

  @media screen and (min-width: $menu-breakpoint) {
    padding: $header-widgets-padding-y $header-widgets-padding-x;
    order: initial;
    width: auto;
  }
}
