.site-header {
  background-color: $color__background-header;

  > .wrap {
    padding: $header-wrap-padding-y $header-wrap-padding-x;
    position: relative;

    @include center-wrap($header-wrap-max-width);

    @media screen and (min-width: $menu-toggle-breakpoint) {
      display: flex;
      align-items: $header-align-items;
      justify-content: $header-justify-content;
    }
  }
}

.site-branding {
  padding: $branding-padding-y $branding-padding-x;
  min-width: $branding__min-width;
  text-align: $branding__text-align;
}

.header-widgets {
  display: $header-widgets-display;
  justify-content: $header-widgets-justify-content;
  flex-wrap: $header-widgets-flex-wrap;
}
