.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-title,
.entry-title {
  text-align: center;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.page-thumbnail,
.post-thumbnail {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.entry-header {
  > .wrap {
    @include center-wrap($entry-header-wrap-max-width);
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }
}

.entry-meta {
  margin: 1.5rem 0;
  text-align: center;
}

// @TODO: BEGIN Convert to SASS variables
.entry-content {
  > * {
    margin: 2rem auto;
    max-width: $content-max-width;
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }

  > ul,
  > ol {
    padding-left: 4rem;
  }

  // Remove padding on blocks that benefit from full bleed
  .wp-block-columns,
  .wp-block-media-text {
    padding-left: 0;
    padding-right: 0;
  }

  // Add some responsive styles to Media/Text blocks
  .wp-block-media-text {
    display: block;

    .wp-block-media-text__media,
    .wp-block-media-text__content {
      padding-bottom: $spacer;

      @media screen and (min-width: $menu-toggle-breakpoint) {
        padding-bottom: 0;
      }
    }

    @media screen and (min-width: $menu-toggle-breakpoint) {
      display: grid;
    }
  }

  .wp-block-button {
    margin-bottom: $spacer;
  }
}

.entry-footer {
  margin: 1.5rem 0 0;

  > .wrap {
    @include center-wrap($entry-footer-wrap-max-width);
    display: flex;
    flex-wrap: wrap;
    align-items: $flex__entry-footer-align-items;
    justify-content: $flex__entry-footer-justify-content;
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }

  .edit-link {
    padding: 1.5rem 0;
    width: 100%;
    display: block;
    text-align: center;
  }
}
// @TODO: END Convert to SASS variables
