#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .admin-bar & {
    min-height: calc( 100vh - #{$admin-bar-mobile-height} );

    @media screen and (min-width: $breakpoint-admin-bar) {
      min-height: calc( 100vh - #{$admin-bar-desktop-height} );
    }
  }

  .site-content {
    flex-grow: 1;
  }
}

.site-content {
  padding: $site-content-padding-y $site-content-padding-x;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-title,
.entry-title {
  text-align: center;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.page-thumbnail,
.post-thumbnail {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.entry-header {
  > .wrap {
    @include center-wrap($entry-header-wrap-max-width);
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
  }
}

.entry-meta {
  margin: 1.5rem 0;
  text-align: center;
}

.wp-block-columns,
.wp-block-group:not( .has-background ) {
  max-width: calc( #{$content-max-width} + #{$content-padding-x} * 2 );

  &.alignwide {
    max-width: calc( #{$content-max-alignwide-width} + #{$content-padding-x} * 2 );
  }

  &.alignfull {
    max-width: 100%;
  }
}

.entry-content,
.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container {
  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-max-width;
    width: calc( 100% - #{$content-padding-x} * 2 );
    margin-bottom: $spacer;

    &.alignfull,
    &.wp-block-group,
    &.wp-block-columns {
      width: 100%;
    }

    .wp-block-group.has-background {
      width: calc( 100% - #{$content-padding-x} * 2 );
    }

    &:last-child() {
      margin-bottom: 0;
    }
  }
}

// @TODO: BEGIN Convert to SASS variables
.entry-content {
  > * {
    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;
  }

  > .wp-block-group.has-background,
  > .wp-block-cover {
      padding-top: $spacer-lg;
      padding-bottom: $spacer-lg;
  }

  > ul:not(.wp-block-gallery),
  > ol {
    padding-left: 4rem;
  }
}

.wp-block-group {
  &.has-background {
    padding-top: $content-padding-x;
    padding-bottom: $content-padding-x;
  }
}

.entry-footer {
  margin: 1.5rem 0 0;

  > .wrap {
    @include center-wrap($entry-footer-wrap-max-width);
    display: flex;
    flex-wrap: wrap;
    align-items: $entry-footer-wrap-align-items;
    justify-content: $entry-footer-wrap-justify-content;
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
  }

  .edit-link {
    padding: 1.5rem 0;
    width: 100%;
    display: block;
    text-align: center;
  }
}
// @TODO: END Convert to SASS variables
