.search-results {
  .page-content {
    .search-form {
      display: flex;
      margin-top: $spacer;
      margin-bottom: $spacer;
      align-items: center;

      label {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: $spacer-sm;
      }

      .search-field {
        width: 100%;
      }
    }

    .entry-title {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.search-result {
  display: grid;
  gap: $spacer-sm;

  .post-thumbnail {
    margin-bottom: 0;
  }
}
