.utility-bar {
	background-color: $utility-bar-background-color;

	> .wrap {
		@include center-wrap($utility-bar-wrap-max-width);
		@include layout-wrap($layout-spacer-x);
		padding: $utility-bar-wrap-padding;
		display: flex;
		flex-wrap: wrap;
		align-items: $utility-bar-wrap-align-items;
		justify-content: $utility-bar-wrap-justify-content;

		& > div {
			&.utility-widgets-1 {
				display: flex;
				justify-content: flex-start;
			}

			&.utility-widgets-2 {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}
