.utility-bar {
  color: $color__text-utility;
  background-color: $color__background-utility-bar;

  .wrap {
    padding: $utility-bar-wrap-padding-y $utility-bar-wrap-padding-x;
    @include center-wrap($utility-bar-wrap-max-width);

    display: flex;
    flex-wrap: wrap;
    align-items: $utility-bar-wrap-align-items;
    justify-content: $utility-bar-wrap-justify-content;

    & > div {
      &:first-child {
        display: flex;
        justify-content: flex-start;
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
