.utility-bar {
  padding: $utility-bar-padding-y $utility-bar-padding-x;
  color: $color__text-utility;
  background-color: $color__background-utility-bar;

  .wrap {
    @include center-wrap($utility-bar-wrap-max-width);

    display: flex;
    flex-wrap: wrap;
    align-items: $flex__utility-bar-align-items;
    justify-content: $flex__utility-bar-justify-content;

    & > div {
      &:first-child {
        display: flex;
        justify-content: flex-start;
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
