.widget {
  margin: $widget__margin-t $widget__margin-r $widget__margin-b $widget__margin-l;
  padding: $widget__padding-y $widget__padding-x;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
