// @TODO: BEGIN Convert to SASS variables
.entry-content > .alignwide {
  max-width: 1100px;
}

.entry-content > .alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
// @TODO: END Convert to SASS variables
