// @TODO: BEGIN Convert to SASS variables
.entry-content > .alignwide {
  max-width: 1100px;
}

.entry-content > .alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;

  &.wp-block-image {
    padding-left: 0;
    padding-right: 0;
  }
}
// @TODO: END Convert to SASS variables
