@each $name, $color in $editor-palette {
	.has-#{$name}-background-color {
		@include background-color( $color );
	}
}

@each $name, $color in $editor-palette { //loop repeated so that all color selectors come after bg-color and override them when necessary
	.has-#{$name}-color {
		@include color( $color );
	}
}

.has-background {
  background-color: var(--bg-color);
  color: var(--color);
}

.has-text-color {
  color: var(--color);
}
