input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	color: $input-color;
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	padding: $input-padding-y $input-padding-x;

	&:focus {
		color: $input-color-focus;
	}
}

textarea {
	width: 100%;
}
