.woocommerce {
	.cart-collaterals {
		td,
		th {
			padding: $spacer-sm;

			@media screen and (min-width: $wc-cart-breakpoint) {
				padding: $spacer;
			}
		}
	}

	.woocommerce-cart-form {
		margin-bottom: $wc-cart-form-margin-bottom;

		table {
			width: 100%;

			tr {
				display: block;
				padding-bottom: $spacer;

				&:not(:first-of-type) {
					padding-top: $spacer;
				}

				@media screen and (min-width: $wc-cart-breakpoint) {
					display: table-row;
				}

				td,
				th {
					display: block;

					@media screen and (min-width: $wc-cart-breakpoint) {
						display: table-cell;
					}
				}
			}

			thead {
				display: none;

				@media screen and (min-width: $wc-cart-breakpoint) {
					display: table-header-group;
				}
			}

			tbody {
				.cart_item {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					border-bottom: 1px solid $input-border-color;

					@media screen and (min-width: $wc-cart-breakpoint) {
						display: table-row;
					}

					.product-remove,
					.product-thumbnail {
						display: block;
						align-self: center;

						@media screen and (min-width: $wc-cart-breakpoint) {
							display: table-cell;
						}
					}

					.product-name,
					.product-price,
					.product-quantity,
					.product-subtotal {
						display: grid;
						grid-template-columns: 1fr 1fr;
						width: 100%;
						text-align: right;

						&[data-title]::before {
							content: attr(data-title) ": ";
							font-weight: 600;
							text-align: left;
						}

						@media screen and (min-width: $wc-cart-breakpoint) {
							display: table-cell;
							text-align: left;

							&[data-title]:before {
								display: none;
							}
						}
					}
				}
			}

			thead {
				background-color: $wc-table-head-background-color;
				color: color-yiq($wc-table-head-background-color);
			}

			.product-remove a {
				position: relative;
				text-indent: -999rem;
				overflow: hidden;
				@include remove-hover-underline;

				&::before {
					display: flex;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					align-items: center;
					justify-content: center;
					font-family: dashicons;
					@include font-size(2rem);
					content: "\f158";
					text-indent: 0;
				}
			}

			.product-thumbnail {
				img {
					max-width: 6rem;
				}
			}

			td.actions {
				.coupon {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
				}

				.coupon,
				.coupon > * {
					width: 100%;

					@media screen and (min-width: $wc-cart-breakpoint) {
						float: left;
						width: auto;
					}
				}

				label {
					display: none;
				}

				.input-text {
					margin-right: $spacer-sm;
				}

				.button[name="update_cart"] {
					width: 100%;

					@media screen and (min-width: $wc-cart-breakpoint) {
						float: right;
						width: auto;
					}
				}
			}
		}
	}

	.cart-collaterals {
		display: flex;
		justify-content: flex-end;

		.cart_totals {
			width: 100%;

			@media screen and (min-width: $wc-cart-breakpoint) {
				width: 48%;
			}

			h2 {
				text-align: center;

				@media screen and (min-width: $wc-cart-breakpoint) {
					text-align: left;
				}
			}

			.shop_table {
				width: 100%;

				tr {
					border-top: 1px solid $input-border-color;
				}
			}

			.shipping-calculator-form {
				text-align: left;

				.input-text {
					width: 100%;
				}
			}

			.wc-proceed-to-checkout {
				padding-top: $spacer;
				padding-bottom: $spacer;
			}

			.checkout-button {
				width: 100%;
				padding-top: $spacer;
				padding-bottom: $spacer;
				font-size: 1.5rem;
				font-weight: 700;
				text-align: center;
			}
		}
	}
}
