.woocommerce {

  .shop-featured-image {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;

    img {
      width: 100%;
    }
  }

  .woocommerce-product-sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    > * {
      margin: 0;
    }
  }

  ul.products {
    display: grid;
    column-gap: $wc-archive-column-gap;
    row-gap: $wc-archive-row-gap;
    grid-template-columns: repeat( auto-fill, minmax( $wc-archive-product-min-width, 1fr ) );
    clear: both;

    li {
      display: block;
      position: relative;
      text-align: center;

      .woocommerce-loop-product__link {
        display: flex;
        flex-direction: column;
        margin-bottom: $spacer;
        align-items: center;

        @include remove-hover-underline;
        &:hover {
          .woocommerce-loop-product__title {
            text-decoration: underline;
          }
        }

        img {
          margin-bottom: $spacer;
          width: 100%;
        }

        h2 {
          @include font-size($font-size-base);
        }

        .star-rating {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: $spacer-sm;
        }
      }

      .added_to_cart {
        display: block;
      }
    }
  }

  .woocommerce-pagination {
    text-align: center;

    .page-numbers {
      li {
        display: inline-block;
      }
    }
  }
}