// @TODO: BEGIN Convert to SASS variables
.entry-content > * {
  margin: 2em auto;
  max-width: 636px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.entry-content > .alignwide {
  max-width: 1100px;
}

.entry-content > .alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
// @TODO: END Convert to SASS variables

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/
@import "blocks/wp-block-gallery";
