.woocommerce-page {
	.onsale {
		display: flex;
		position: absolute;
		top: -$spacer-sm;
		right: -$spacer-sm;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;
		border-radius: 100%;
		background-color: $notice;
		color: $white;
	}

	div.product {
		.onsale {
			right: auto;
			left: $spacer-xs;
			z-index: 1;
		}
	}

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		margin-bottom: $spacer-lg;
		padding: $spacer $spacer-lg;
		border-radius: $alert-border-radius;
	}

	.woocommerce-message,
	.woocommerce-info {
		background-color: $info;
		color: color-yiq($info);

		a:not(.button) {
			color: color-yiq($info);
			text-decoration: underline;

			&:hover {
				color: color-yiq($info);
			}
		}
	}

	.woocommerce-message,
	.woocommerce-Message {
		display: grid;
		grid-row-gap: $spacer-sm;
		align-items: center;
		justify-content: center;

		.button {
			grid-row: 2;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (min-width: $breakpoint-sm) {
			grid-template-columns: 1fr auto;
			column-gap: $spacer-sm;

			*,
			.button {
				grid-row: 1;
			}

			.button {
				grid-column: 2;
			}
		}
	}

	.woocommerce-error {
		background-color: $warning;
		color: color-yiq($warning);

		li {
			display: block;
		}

		a:not(.button) {
			color: color-yiq($warning);
			text-decoration: underline;

			&:hover {
				color: color-yiq($warning);
			}
		}
	}

	.woocommerce-invalid input {
		border-color: $warning;
	}
}

.woocommerce-cart {
	.woocommerce-message {
		display: block;
	}
}

.woocommerce-store-notice {
	position: relative;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	padding: $spacer $spacer-lg $spacer 5rem;
	z-index: 1000;
	background-color: $primary;
	color: color-yiq($primary);

	&::before {
		@include icon-mask( 'info' );
		left: $spacer-lg;
		width: 3rem;
		padding: $spacer-sm;
	}

	.woocommerce-store-notice__dismiss-link {
		display: inline-flex;
		align-items: center;
		background-color: $accent;
		padding: $spacer $spacer-lg;
		margin-right: -$spacer-lg;
		margin-top: -$spacer;
		margin-bottom: -$spacer;
		color: color-yiq($info);
		text-decoration: underline;

		&:hover {
			color: color-yiq($info);
		}
	}
}
