.woocommerce {

  .onsale {
    display: flex;
    position: absolute;
    top: -$spacer-sm;
    right: -$spacer-sm;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: $notice;
    color: $white;
  }

  div.product .onsale {
    right: auto;
    left: -$spacer-sm;
    z-index: 100;
  }

  .woocommerce-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: $spacer-lg 0;
    padding: $spacer $spacer-lg;
    border-radius: $alert-border-radius;
    background-color: $info;
    color: color-yiq( $info );
  }

  .woocommerce-error {
    padding: $spacer;
    border-radius: $alert-border-radius;
    background-color: $warning;
    color: color-yiq( $warning );

    li {
      display: block;
    }
  }

  .woocommerce-info {
    display: block;
    margin: $spacer-lg 0;
    padding: $spacer;
    border-radius: $alert-border-radius;
    background-color: $info;
    color: color-yiq( $info );

    a {
      color: color-yiq( $info );
      text-decoration: underline;

      &:hover {
        color: color-yiq( $info );
      }
    }
  }

  .woocommerce-invalid input {
    border-color: $warning;
  }
}
