#mini-cart {
  display: none;
  position: absolute;
  max-width: 300px;
  width: 100%;
  background-color: $wc-mini-cart-background-color;
  color: color-yiq( $wc-mini-cart-background-color );
  border: 1px solid $wc-mini-cart-border-color;
  border-radius: $wc-mini-cart-border-radius;

  .woocommerce-mini-cart {
    padding-left: 0;

    .mini_cart_item {
      display: block;
      position: relative;
      padding-left: 2.5rem;
      padding-top: $spacer;
      padding-bottom: $spacer;
      padding-right: $spacer;

      .remove {
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        left: 0.8rem;
        display: block;
        width: $spacer;
        text-indent: 9999px;
        overflow: hidden;

        &::before {
          content: "\f158";
          position: absolute;
          top: 0;
          left: 0;
          font-family: "dashicons";
          font-size: 1.2rem;
          text-indent: 0;
        }
      }

      .quantity {
        display: block;
      }

      img {
        max-width: 3rem;
        float: right;
      }

    }
  }

  .total {
    text-align: center;
  }

  .woocommerce-mini-cart__buttons {
    a {
      display: block;
      text-align: center;
      padding: $spacer;
      margin: $spacer;
      font-size: 1.2rem;

      &.checkout {
        @include button-color( $accent );
      }
    }
  }
}

.mini-cart-toggle {

  a {
    display: block;
    margin-left: $spacer-sm;
    position: relative;
    text-indent: 9999px;
    white-space: nowrap;
    overflow: hidden;
    width: $spacer-lg;

    &:focus {
      outline: 0;
    }

    &::before {
      content: "\f174";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY( -50% );
      text-indent: 0;
      font-family: "dashicons";
      font-size: $spacer-lg;
    }

    .cart-count {
      position: absolute;
      top: 0;
      right: -2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      font-weight: bold;
      padding: $spacer-sm;
      border-radius: 999px;
      color: $white;
      background-color: $link-color;
      border-width: 2px;
      border-style: solid;
      width: 15px;
      height: 15px;
      overflow: hidden;
      text-align: center;
      text-indent: 0;

      &:empty {
        display: none;
      }
    }

    &:hover, &:focus {
      .cart-count {
        background-color: $link-hover-color;
      }
    }
  }
}
