#mini-cart {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	position: absolute;
	max-height: $wc-mini-cart-max-height;
	width: $wc-mini-cart-width;
	z-index: 99999;
	background-color: $wc-mini-cart-background-color;
	color: color-yiq($wc-mini-cart-background-color);
	border: 1px solid $wc-mini-cart-border-color;
	border-radius: $wc-mini-cart-border-radius;

	.mini-cart-header {
		padding: $spacer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			margin-bottom: 0;
		}

		#mini-cart-close {
			display: flex;
			position: relative;
			align-items: center;
			width: $menu-icon-size;
			height: $menu-icon-size;

			&::before {
				@include icon-mask( 'dismiss' );
			}

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	.widget_shopping_cart_content {
		display: grid;
		grid-template-rows: 1fr auto auto;

		.woocommerce-mini-cart {
			display: block;
			overflow-y: auto;
			padding-left: 0;
			margin-bottom: $spacer;

			.mini_cart_item {
				display: block;
				position: relative;
				padding-left: 2.5rem;
				padding-top: $spacer;
				padding-bottom: $spacer;
				padding-right: $spacer;
				overflow: hidden; //expand to fit floated elements

				.remove {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0.8rem;
					display: block;
					width: $spacer;
					text-indent: -999rem;
					overflow: hidden;

					&::before {
						@include icon-mask( 'no' );
					}
				}

				.quantity {
					display: block;
				}

				img {
					max-width: 3rem;
					float: right;
				}
			}
		}
	}

	.total {
		text-align: center;
	}

	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: $spacer;

		a {
			display: inline-block;
			width: 42%;
			text-align: center;
			padding: $spacer-sm $spacer;

			&.checkout {
				@include background-color-custom-properties(
					$wc-button-background-color
				);
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		padding: $spacer;
	}
}

.site {
	.mini-cart-toggle {
		justify-content: center;
		position: relative;
		padding: 0;
		margin: 0;

		> a {
			display: block;
			position: relative;
			min-height: 40px;
			text-indent: -999rem;
			white-space: nowrap;
			overflow: hidden;
			min-width: 3rem;

			&::before {
				@include icon-mask( 'cart' );
			}

			.cart-count {
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(calc(50% + 9px), calc(-50% - 10px));
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.7rem;
				font-weight: bold;
				padding: $spacer-sm;
				border-radius: 999px;
				color: $white;
				background-color: $link-color;
				border-width: 2px;
				border-style: solid;
				width: 15px;
				height: 15px;
				overflow: hidden;
				text-align: center;
				text-indent: 0;

				&:empty {
					display: none;
				}
			}

			&:hover,
			&:focus {
				.cart-count {
					background-color: $link-hover-color;
				}
			}
		}
	}
}

.menu-container {
	ul.woocommerce-mini-cart {
		box-shadow: none;
		position: static;
		background-color: transparent;

		li {
			position: relative;
			width: 100%;

			a {
				padding: 0;
			}
		}
	}

	.mini-cart-toggle {
		&:hover > a .cart-count,
		&:focus > a .cart-count {
			background-color: $menu-link-hover-color;
		}
	}
}
