@if $enable-woocommerce-styles {
  .woocommerce-password-strength {
    text-align: right;

    &.strong {
      color: $woocommerce__color-success;
    }

    &.short {
      color: $woocommerce__color-error;
    }

    &.bad {
      color: $woocommerce__color-error;
    }

    &.good {
      color: $woocommerce__color-info;
    }
  }
}
