.woocommerce {

  .woocommerce-result-count {
    float: left;
  }

  .woocommerce-ordering {
    float: right;
  }

  ul.products {
    display: grid;
    column-gap: $wc-archive-column-gap;
    row-gap: $wc-archive-row-gap;
    grid-template-columns: repeat( auto-fill, minmax( $wc-archive-product-min-width, 1fr ) );
    padding-left: 0;
    clear: both;

    li {
      display: block;
      position: relative;
      text-align: center;

      .woocommerce-loop-product__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include remove-hover-underline;

        img {
          margin-bottom: 1rem;
          width: 100%;
        }

        h2 {
          @include font-size(1rem);
        }

        .price {
          color: $primary-support;

          ins {
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }

  .woocommerce-pagination {
    text-align: center;

    .page-numbers {
      li {
        display: inline-block;
      }
    }
  }
}