.woocommerce {
	.select2-container {
		.select2-selection--single {
			padding-top: $input-padding-y;
			padding-bottom: $input-padding-y;
			height: $select2-height;

			.select2-selection__arrow {
				height: 100%;
			}
		}
	}
}
