@if $enable-woocommerce-styles {
  .star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: 'star';
    font-weight: 400;

    &:before {
      content: "\53\53\53\53\53";
      opacity: .25;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
    }

    span {
      overflow: hidden;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 1.5em;
    }

    span:before {
      content: "\53\53\53\53\53";
      top: 0;
      position: absolute;
      left: 0;
      color: $color__link;
    }
  }

  p.stars {
    a {
      position: relative;
      height: 1em;
      width: 1em;
      text-indent: -999em;
      display: inline-block;
      text-decoration: none;
      margin-right: 1px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        line-height: 1;
        font-family: "star";
        content: "\53";
        color: $body-color;
        text-indent: 0;
        opacity: .25;
      }

      &:hover {
        ~ a:before {
          content: "\53";
          color: $body-color;
          opacity: .25;
        }
      }
    }

    &:hover {
      a {
        &:before {
          content: "\53";
          color: $color__link;
          opacity: 1;
        }
      }
    }

    &.selected {
      a.active {
        &:before {
          content: "\53";
          color: $color__link;
          opacity: 1;
        }

        ~ a:before {
          content: "\53";
          color: $body-color;
          opacity: .25;
        }
      }

      a:not(.active) {
        &:before {
          content: "\53";
          color: $color__link;
          opacity: 1;
        }
      }
    }
  }
}
