.woocommerce {
	.star-rating {
		position: relative;
		height: $wc-review-star-size;
		width: $wc-review-star-size * 5;
		min-width: $wc-review-star-size * 5;

		&::before,
		span::before {
			@include icon-mask( 'star-filled' );
			mask-repeat: repeat-x;
			opacity: 0.25;
			width: 120px;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			padding-top: $wc-review-star-size;
			overflow: hidden;

			&:before {
				color: $accent !important;
				opacity: 1;
				padding: 0;
			}
		}
	}
}
