@if $enable-woocommerce-styles {
  .woocommerce-tabs {
    ul.tabs {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;

      li {
        display: block;
        margin: 0;
        position: relative;

        a {
          padding: 1em 0;
          display: block;
        }
      }
    }

    .panel {
      h2:first-of-type {
        margin-bottom: 1em;
      }
    }
  }
}
