// Base units
$base-unit: 1rem !default;
$font-size-base: 1rem !default;

// Breakpoints (commonly used breakpoints in WordPress core: https://github.com/WordPress/gutenberg/issues/13775)
$breakpoint-xs: 480px !default;
$breakpoint-sm: 600px !default;
$breakpoint-md: 782px !default;
$breakpoint-lg: 960px !default;
$breakpoint-xl: 1280px !default;

// Colors
$primary: #005E8A !default;
$primary-support: #EAEBED !default;
$secondary: #663F46 !default;
$secondary-support: #B8D8D8 !default;

$action: $primary !default;
$accent: #D34E24 !default;
$info: #00a0d2 !default;
$success: #46b450 !default;
$notice: #ffb900 !default;
$warning: #f56e28 !default;
$danger: #dc3232 !default;

// Columns - use function columns($key)
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
) !default;

$columns-margin: 3.8% !default;
