// Modules
@use "sass:math";

// Base units
$base-unit: 1rem !default;
$font-size-base: 1rem !default;
$spacer: 1rem !default;
$line-height-base: 1.5 !default;

// Breakpoints (commonly used breakpoints in WordPress core: https://github.com/WordPress/gutenberg/issues/13775)
$breakpoint-xs: 480px !default;
$breakpoint-sm: 600px !default;
$breakpoint-md: 782px !default;
$breakpoint-lg: 960px !default;
$breakpoint-xl: 1280px !default;

$breakpoints: (
	"xs": $breakpoint-xs,
	"sm": $breakpoint-sm,
	"md": $breakpoint-md,
	"lg": $breakpoint-lg,
	"xl": $breakpoint-xl,
);

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
	"Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-weight-normal: 400 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// Icons
$icons-path: "/wp-content/themes/emma/assets/icons/" !default;

// Colors
$primary: #0073aa !default;
$primary-support: #d4f9f8 !default;
$secondary: #663f46 !default;
$secondary-support: #b8d8d8 !default;

$action: $primary !default;
$accent: #d34e24 !default;
$info: #00a0d2 !default;
$success: #46b450 !default;
$notice: #ffb900 !default;
$warning: #f56e28 !default;
$danger: #dc3232 !default;

// Headings
$headings-margin-bottom: math.div($spacer, 2) !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-letter-spacing: normal !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

// Columns - use function columns($key)
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%,
) !default;

$columns-margin: 3.8% !default;
