$color__brand-primary: #266fd0 !default;
$color__brand-secondary: #202020 !default;
$color__brand-support: #dfdfdf !default;

$color__ui-action: #ffbf36 !default;
$color__ui-highlight: #fff5dc !default;
$color__ui-info: #abe0f9 !default;
$color__ui-notice: #f9f49c !default;
$color__ui-warning: #fbd362 !default;
$color__ui-pass: #95dc5c !default;
$color__ui-fail: #ff6050 !default;

$color__white: #fff !default;
$color__black: #000 !default;

$color__gray-lightest: #eaeaea !default;
$color__gray-lighter: #dadada !default;
$color__gray-light: #bababa !default;
$color__gray: #888888 !default;
$color__gray-dark: #5c5c5c !default;
$color__gray-darker: #3d3d3d !default;
$color__gray-darkest: #202020 !default;

$color__background-body: #fff !default;
$color__background-screen: #f1f1f1 !default;
$color__background-header: #fff !default;
$color__background-footer: #f3f3f3 !default;
$color__background-hr: #ccc !default;
$color__background-button: #e6e6e6 !default;
$color__background-pre: #eee !default;
$color__background-ins: #fff9c0 !default;

$color__background-main-navigation: #efefef !default;
$color__background-main-navigation-sub: #fff !default;

$color__background-utility-navigation: #333 !default;
$color__background-utility-navigation-sub: $color__background-main-navigation-sub !default;

$color__background-split-navigation: transparent !default;
$color__background-split-navigation-sub: $color__background-main-navigation-sub !default;

$color__text-screen: #21759b !default;
$color__text-input: #666 !default;
$color__text-input-focus: #111 !default;
$color__text-main: #212529 !default;
$color__link: #00b9eb !default;
$color__link-visited: $color__link !default;
$color__link-hover: darken($color__link, 15%) !default;

$color__link-main-navigation: $color__link !default;
$color__link-main-navigation-visited: $color__link-visited !default;
$color__link-main-navigation-hover: $color__link-hover !default;
$color__link-main-navigation-sub: $color__link !default;
$color__link-main-navigation-sub-visited: $color__link-visited !default;
$color__link-main-navigation-sub-hover: $color__link-hover !default;

$color__link-utility-navigation: #cdcdcd !default;
$color__link-utility-navigation-visited: $color__link-visited !default;
$color__link-utility-navigation-hover: #fff !default;
$color__link-utility-navigation-sub: $color__link !default;
$color__link-utility-navigation-sub-visited: $color__link-visited !default;
$color__link-utility-navigation-sub-hover: $color__link-hover !default;

$color__link-split-navigation: $color__link !default;
$color__link-split-navigation-visited: $color__link-visited !default;
$color__link-split-navigation-hover: $color__link-hover !default;
$color__link-split-navigation-sub: $color__link !default;
$color__link-split-navigation-sub-visited: $color__link-visited !default;
$color__link-split-navigation-sub-hover: $color__link-hover !default;

$color__border-button: #ccc #ccc #bbb !default;
$color__border-button-hover: #ccc #bbb #aaa !default;
$color__border-button-focus: #aaa #bbb #bbb !default;
$color__border-input: #ccc !default;
$color__border-abbr: #666 !default;
