$white: #fff !default;
$gray-100: #f9f9f9 !default;
$gray-200: #ebebeb !default;
$gray-300: #e1e1e1 !default;
$gray-400: #d3d3d3 !default;
$gray-500: #b3b3b3 !default;
$gray-600: #737373 !default;
$gray-700: #4f4f4f !default;
$gray-800: #393939 !default;
$gray-900: #242424 !default;
$black: #000 !default;

// YIQ (variables required by `color_yiq`: https://getbootstrap.com/docs/4.0/getting-started/theming/#color-contrast)
$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

$editor-palette: () !default;
$editor-palette: map-merge(
  (
    'primary': $primary,
    'primary-support': $primary-support,
    'secondary': $secondary,
    'secondary-support': $secondary-support,
    'action': $action,
    'accent': $accent,
    'info': $info,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
    'white': $white,
    'gray-200': $gray-200,
    'gray-400': $gray-400,
    'gray-600': $gray-600,
    'gray-800': $gray-800,
    'black': $black,
  ),
  $editor-palette
);

$body-bg: $white !default;
$body-color: $gray-900 !default;

$screen-color: #21759b !default;
$screen-background-color: #f1f1f1 !default;

$link-color: $action !default;
$link-hover-color: darken($link-color, 15%) !default;

$menu-link-color: $link-color !default;
$menu-link-hover-color: $link-hover-color !default;
$menu-sub-link-color: $menu-link-color !default;
$menu-sub-link-hover-color: $menu-link-hover-color !default;
$menu-sub-background-color: $white !default;

$sitewide-alert-background-color: $danger !default;
$sitewide-alert-color: color-yiq( $danger ) !default;
$sitewide-alert-link-color: color-yiq( $danger ) !default;

$utility-bar-background-color: $primary-support !default;
$utility-bar-link-color: color-yiq($utility-bar-background-color) !default;
$utility-bar-link-hover-color: darken($utility-bar-link-color, 15) !default;

$header-background-color: rgba(255, 255, 255, .95) !default;

$footer-widgets-background-color: $gray-100 !default;

$footer-color: inherit !default;
$footer-background-color: $primary-support !default;

$input-color: #666 !default;
$input-color-focus: #111 !default;
$input-border-color: #ccc !default;

$button-background-color: $primary !default;