// Buttons
$button-padding: $spacer-sm $spacer-md !default;
$button-border: 2px solid !default;
$button-border-radius: $border-radius !default;
$button-disabled-filter-effect: opacity(0.6) !default;
$button-disabled-cursor: not-allowed !default;

// Button Selectors
$button-selectors-admin: ".wp-block-button__link" !default;
$button-selectors-theme: "button, input[type='button'], input[type='reset'], input[type='submit'], a.button, .menu-container ul li.button > a" !default;

// Alerts
$alert-border-radius: $border-radius !default;

// Inputs
$input-border-radius: $border-radius !default;
$input-padding-offset: .1875 !default; // Account for the 2px border around buttons to keep inputs and buttons consistent.
$input-padding-x: $spacer-sm !default;
$input-padding-y: $spacer-sm + $input-padding-offset !default;

// Links
$link-decoration: none !default;
$link-hover-decoration: underline !default;
