// Buttons
$button-padding: $spacer-xs $spacer-sm !default;
$button-block-padding: $spacer $spacer-xl !default;
$button-border-radius: 3px !default;
$button-hover-filter-effect: saturate( 0.7 ) !default;
$button-focus-box-shadow: 0 0 0 2px rgba( $black, .4 );
$button-disabled-filter-effect: opacity( 0.6 ) !default;

// Alerts
$alert-border-radius: 3px !default;
