/*--------------------------------------------------------------
## Sticky Header
## true: the site-header will remain visible at the top of the page on scroll
## false: the site-header will scroll with the rest of the page
--------------------------------------------------------------*/
$enable-sticky-header: false !default;

/*--------------------------------------------------------------
## Dropdown Icon
## true: top level menu items with children will show an arrow icon
## false: the dropdown icon will be suppressed on all menu items
--------------------------------------------------------------*/
$enable-dropdown-icon: true !default;

/*--------------------------------------------------------------
## Admin Stylesheet
## true: this will adjust certain backend-breaking classes for the admin CSS file
## false: classes will be compiled with normal frontend properties
--------------------------------------------------------------*/
$admin-stylesheet: false !default;
