:root {
	--admin-bar-height: 0px;
	--bg-color: transparent;
	--color: #{$body-color};
	--layout-spacer-x: #{ $spacer };
	--header-wrap-columns: 1fr;
	--justify-content-left-menu: space-between;
	--justify-content-right-menu: flex-end;
	--justify-content-primary-menu: space-between;
	--link-color: #{$link-color};

	@media screen and ( min-width: $breakpoint-xs ) {
		--layout-spacer-x: #{ $spacer-lg };
	}

	@media screen and ( min-width: $menu-breakpoint ) {
		--justify-content-right-menu: space-between;
	}
}

body {
	--full-height: calc(100vh - var(--admin-bar-height) );
}

body.admin-bar {
	--admin-bar-height: 46px;

	@media screen and (min-width: $breakpoint-admin-bar) {
		--admin-bar-height: 32px;
	}
}

.block-editor {
	--full-height: calc(100vh - 139px);

	@media screen and (min-width: $breakpoint-admin-bar) {
		--full-height: calc(100vh - 81px);
	}
}
