:root {
	--admin-bar-height: 0px;
	--bg-color: transparent;
	--color: #{$body-color};
	--color-contrast-sm: #{tint($body-color, 6%)};
	--color-contrast-md: #{tint($body-color, 40%)};
	--layout-spacer-x: #{ $spacer };

	@if color-yiq($body-color) == $yiq-text-dark {
		--color-contrast-sm: #{shade($body-color, 6%)};
		--color-contrast-md: #{shade($body-color, 25%)};
	}

	@media screen and ( min-width: $breakpoint-xs ) {
		--layout-spacer-x: #{ $spacer-lg };
	}
}

body {
	--full-height: calc(100vh - var(--admin-bar-height) );
}

body.admin-bar {
	--admin-bar-height: 46px;

	@media screen and (min-width: $breakpoint-admin-bar) {
		--admin-bar-height: 32px;
	}
}

.block-editor {
	--full-height: calc(100vh - 139px);

	@media screen and (min-width: $breakpoint-admin-bar) {
		--full-height: calc(100vh - 81px);
	}
}
