$flex__header-align-items: center !default;
$flex__header-justify-content: space-between !default;

$flex__utility-bar-align-items: center !default;
$flex__utility-bar-justify-content: space-between !default;

$flex__entry-meta-align-items: center !default;
$flex__entry-meta-justify-content: space-between !default;

$flex__entry-footer-align-items: center !default;
$flex__entry-footer-justify-content: space-between !default;

$flex__footer-widgets-align-items: center !default;
$flex__footer-widgets-justify-content: space-between !default;

$flex__footer-align-items: center !default;
$flex__footer-justify-content: center !default;
