// Layout
$layout-spacer-x: $spacer-lg !default;
$layout-spacer-y: $spacer-md !default;

// Paragraph
$paragraph-margin-bottom: $spacer !default;

// Font sizes
$h1-font-size: $font-size-base * 2.25 !default;
$h2-font-size: $font-size-base * 1.875 !default;
$h3-font-size: $font-size-base * 1.625 !default;
$h4-font-size: $font-size-base * 1.375 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1.125 !default;

// Sitewide Alert
$sitewide-alert-wrap-max-width: $wrap-max-width !default;
$sitewide-alert-wrap-padding-x: $spacer-md !default;
$sitewide-alert-wrap-padding-y: $spacer-md !default;
$sitewide-alert-text-align: center !default;
$sitewide-alert-font-weight: bold !default;

// Utility bar
$utility-bar-wrap-max-width: $wrap-max-width !default;
$utility-bar-wrap-padding-x: $layout-spacer-x !default;
$utility-bar-wrap-padding-y: $spacer-xs !default;
$utility-bar-wrap-align-items: center !default;
$utility-bar-wrap-justify-content: space-between !default;

// Header
$header-wrap-display: grid !default;
$header-wrap-column-gap: $spacer-lg !default;
$header-wrap-max-width: $wrap-max-width !default;
$header-wrap-padding-x: $layout-spacer-x !default;
$header-wrap-padding-y: $layout-spacer-y !default;
$header-wrap-align-items: center !default;
$header-wrap-justify-content: space-between !default;

// Header - navigation columns
$header-wrap-no-navigation-columns: 1fr !default;
$header-wrap-left-navigation-columns: 1fr fit-content(50%) !default;
$header-wrap-right-navigation-columns: fit-content(50%) 1fr !default;
$header-wrap-split-navigation-columns: 1fr fit-content(50%) 1fr !default;

// Header - sticky
$sticky-header-offset: 72px !default;

// Header - branding
$branding-min-width: none !default;
$branding-padding: 0 !default;
$branding-padding-x: $branding-padding !default;
$branding-padding-y: $branding-padding !default;
$branding-text-align: center !default;

// Header - logo
$logo-max-height: 8rem !default;

// Header - widgets
$header-widgets-padding-x: $layout-spacer-x !default;
$header-widgets-padding-y: 0 !default;
$header-widgets-display: flex !default;
$header-widgets-justify-content: flex-end !default;
$header-widgets-flex-wrap: wrap !default;
$header-widgets-flex-grow: 1 !default;
$header-widgets-order: 5 !default;

// Main Navigation
$main-navigation-wrap-padding-x: $layout-spacer-x !default;
$main-navigation-wrap-padding-y: 0 !default;

// Layout
$layout-breakpoint-sm: $breakpoint-sm !default;
$layout-breakpoint-lg: $breakpoint-lg !default;
$layout-column-gap: 1rem !default;
$layout-sidebar-width: 1fr !default;
$layout-content-width: 3fr !default;

// Layout - content / sidebar column variations
$layout-content-columns: 1fr !default;
$layout-content-sidebar-columns: $layout-content-width $layout-sidebar-width !default;
$layout-sidebar-content-columns: $layout-sidebar-width $layout-content-width !default;
$layout-sidebar-content-sidebar-columns: $layout-sidebar-width $layout-content-width $layout-sidebar-width !default;

// Content
$content-padding-x: $layout-spacer-x !default;

// Content - site content
$site-content-padding: 0 !default;
$site-content-padding-x: $site-content-padding !default;
$site-content-padding-y: $site-content-padding !default;

// Content - entry header
$entry-header-wrap-max-width: $wrap-max-width !default;

// Content - nav links (pagination)
$nav-links-max-width: $wrap-max-width !default;

// Content - entry footer
$entry-footer-wrap-max-width: $content-max-width !default;
$entry-footer-wrap-align-items: center !default;
$entry-footer-wrap-justify-content: space-between !default;

// Content - comments (comments area)
$comments-area-wrap-max-width: $content-max-width !default;

// Content - comment (individual comment)
$comment-border: 0 solid $gray-300 !default;
$comment-border-width: 0 0 0 5px !default;

// Sidebar - widget
$sidebar-widget-padding: $spacer-md !default;
$sidebar-widget-padding-x: $sidebar-widget-padding !default;
$sidebar-widget-padding-y: $sidebar-widget-padding !default;

// Footer widgets
$footer-widgets-wrap-column-gap: $spacer-lg !default;
$footer-widgets-wrap-max-width: $wrap-max-width !default;
$footer-widgets-wrap-padding-x: $layout-spacer-x !default;
$footer-widgets-wrap-padding-y: $spacer-lg !default;
$footer-widgets-wrap-align-items: flex-start !default;
$footer-widgets-wrap-justify-content: space-between !default;
$footer-widgets-widget-area-flex-basis: 0 !default;
$footer-widgets-widget-area-flex-grow: 1 !default;
$footer-widgets-widget-margin: 0 0 $spacer-md 0 !default;

// Footer
$footer-wrap-max-width: $wrap-max-width !default;
$footer-wrap-padding-x: $layout-spacer-x !default;
$footer-wrap-padding-y: $layout-spacer-y !default;
$footer-wrap-align-items: flex-start !default;
$footer-wrap-justify-content: center !default;
$footer-wrap-flex-wrap: wrap !default;

// Site info
$site-info-text-align: center !default;

// Archive
$posts-border-bottom: 1px solid $gray-400 !default;

// Alignment float breakpoint
$align-breakpoint: $breakpoint-xs;
