$font__main: sans-serif !default;
$font__heading: $font__main !default;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !default;
$font__pre: "Courier 10 Pitch", Courier, monospace !default;
$font__line-height-body: 1.5 !default;
$font__line-height-pre: 1.6 !default;
