// Modules
@use "sass:math";

// Max widths
$wrap-max-width: 1100px !default;
$content-max-width-sm: 580px !default;
$content-max-width: $breakpoint-md !default;
$content-max-alignwide-width: $wrap-max-width !default;

// Spacers
$spacer-xs: math.div($base-unit, 4) !default;
$spacer-sm: math.div($base-unit, 2) !default;
$spacer-md: $base-unit !default;
$spacer-lg: $base-unit * 2 !default;
$spacer-xl: $base-unit * 4 !default;

$spacer-sizes: (
	"0": 0,
	"xs": $spacer-xs,
	"sm": $spacer-sm,
	"md": $spacer-md,
	"lg": $spacer-lg,
	"xl": $spacer-xl,
) !default;

// Responsive Font Sizes
$enable-responsive-font-sizes: true !default;
$rfs-breakpoint: $content-max-alignwide-width !default;

// Font sizes
$font-size-sm: $font-size-base * 0.8 !default; // small
$font-size-default: $font-size-base !default; //default
$font-size-md: $font-size-base * 1.4 !default; // medium
$font-size-lg: $font-size-base * 1.8 !default; // large
$font-size-xl: $font-size-base * 2.4 !default; // huge
$font-size-2x: $font-size-base * 3.6 !default; // giant

// Border widths
$border-width-sm: 1px !default;
$border-width-md: 3px !default;
$border-width-lg: 5px !default;

// Border radius
$border-radius: 0 !default;

// hr tag settings
$hr-opacity: 1 !default;
$hr-margin-y: 0 !default;

// Focus
$focus-outline: 3px solid !default;
$focus-outline-offset: 3px !default;
