// Max widths
$content-max-width: $breakpoint-md !default;
$content-max-alignwide-width: 1100px !default;
$wrap-max-width: $content-max-alignwide-width !default;

// Spacers
$spacer-xs: $base-unit / 4 !default;
$spacer-sm: $base-unit / 2 !default;
$spacer-md: $base-unit !default;
$spacer-lg: $base-unit * 2 !default;
$spacer-xl: $base-unit * 4 !default;

$spacer-sizes: (
  '0': 0,
  'xs': $spacer-xs,
  'sm': $spacer-sm,
  'md': $spacer-md,
  'lg': $spacer-lg,
  'xl': $spacer-xl
);

// Font sizes
$font-size-sm: $font-size-base * .875 !default;
$font-size-md: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 2.25 !default;
$font-size-lg-mobile: $font-size-base * 1.5 !default;
$font-size-xl: $font-size-base * 3 !default;
$font-size-xl-mobile: $font-size-base * 1.875 !default;

// Border widths
$border-width-sm: 1px !default;
$border-width-md: 3px !default;
$border-width-lg: 5px !default;
