$widget__margin: 0 !default;
$widget__margin-t: $widget__margin !default;
$widget__margin-r: $widget__margin !default;
$widget__margin-b: 1.5em !default;
$widget__margin-l: $widget__margin !default;

$widget__padding: 0 !default;
$widget__padding-x: $widget__padding !default;
$widget__padding-y: $widget__padding !default;

$widget__utility-bar-margin: 0 !default;
$widget__utility-bar-margin-x: .5em !default;
$widget__utility-bar-margin-y: $widget__utility-bar-margin !default;

$widget__utility-bar-padding: 0 !default;
$widget__utility-bar-padding-x: $widget__utility-bar-padding !default;
$widget__utility-bar-padding-y: $widget__utility-bar-padding !default;
