// Colors
$wc-primary: $primary !default;

// Max widths
$wc-max-width: $breakpoint-lg !default;

// Prices
$wp-price-color: $wc-primary !default;

// Primary Buttons
$wc-primary-button-background-color: $wc-primary !default;
$wc-primary-button-color: $white !default;
