// Breakpoints
$wc-cart-breakpoint: $breakpoint-md !default;

// Branding
$wc-primary: $primary !default;

// Spacing
$wc-archive-column-gap: 2rem !default;
$wc-archive-row-gap: $wc-archive-column-gap !default;
$wc-product-gallery-column-gap: 1rem !default;
$wc-product-gallery-row-gap: $wc-product-gallery-column-gap !default;
$wc-cart-form-margin-bottom: $spacer-lg !default;

// Shop page min widths
// controls the number of columns displayed on the shop page - grid will create as many columns as possible as long as they are at least these widths (selectable on shop page)
$wc-shop-product-min-width-sm: 200px !default;
$wc-shop-product-min-width-md: 250px !default;
$wc-shop-product-min-width-lg: 300px !default;

// Product gallery min width
// controls the number of columns displayed in the image gallery on the product page - uses same technique as above
$wc-product-gallery-min-width: 80px !default;

// Max widths
$wc-max-width: $breakpoint-lg !default; // sets the max width of content on woocommerce pages

// Tables
$wc-table-head-background-color: $gray-800 !default;

// Prices
$wc-price-color: $wc-primary !default;

// Review Stars
$wc-review-star-size: 1.5rem !default;
$wc-review-star-size-sm: 1rem !default;

// Mini Cart
$wc-mini-cart-height: 700px !default;
$wc-mini-cart-min-height: 400px !default;
$wc-mini-cart-max-height: 80vh !default;
$wc-mini-cart-width: 300px !default;
$wc-mini-cart-background-color: $gray-100 !default;
$wc-mini-cart-border-color: $primary !default;
$wc-mini-cart-border-radius: 0 !default;
