h1.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h1.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h1.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h1.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h1.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}

h2.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h2.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h2.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h2.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h2.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}

h3.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h3.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h3.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h3.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h3.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}

h4.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h4.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h4.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h4.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h4.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}

h5.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h5.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h5.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h5.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h5.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}

h6.has-small-font-size {
  font-size: 13px !important;
  font-weight: normal;
}
h6.has-normal-font-size {
  font-size: 16px !important;
  font-weight: normal;
}
h6.has-medium-font-size {
  font-size: 20px !important;
  font-weight: normal;
}
h6.has-large-font-size {
  font-size: 36px !important;
  font-weight: normal;
}
h6.has-huge-font-size {
  font-size: 48px !important;
  font-weight: normal;
}
