.menu-drawer {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.95);
  overflow-x: hidden;
  transition: all 0.25s ease-in-out;

  .admin-bar & {
    top: 46px;

    @media screen and (min-width: $breakpoint-md) {
      top: 32px;
    }
  }

  > .wrap {
    @include center-wrap($wrap-max-width);
    padding: $menu-drawer-padding-y $menu-drawer-padding-x;
    text-align: right;
  }

  &.toggled {
    transform: translateX( 0 ) !important;
  }

  .menu-container {
    max-width: none;
    width: 100%;

    .menu {
      display: block;

      .sub-menu {
        display: none;
        position: static;
        width: 100%;
        box-shadow: none;

        a {
          width: 100%;
        }
      }

      .menu-item {
        &.focus {
          .sub-menu {
            display: block;
          }
        }

      }
    }

    a {
      text-align: center;
    }
  }

  .button {
    display: flex;
    justify-content: center;
  }

  .admin-bar & {
    top: $admin-bar-mobile-height;

    @media screen and (min-width: $breakpoint-admin-bar) {
      top: $admin-bar-desktop-height;
    }
  }
}
