body {
	&.flyout-menu-open {
		overflow-y: hidden;
	}
}

.flyout-menu-background {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: black;
	opacity: 0;
	transition: all 0.25s ease-in-out;

	.flyout-menu-open & {
		visibility: visible;
		opacity: 0.3;
	}
}

.flyout-menu {
	visibility: hidden;
	position: fixed;
	height: var( --full-height );
	width: 100%;
	max-width: $flyout-menu-max-width;
	padding-bottom: $spacer-lg;
	z-index: 10;
	top: var( --admin-bar-height );
	right: 0;
	background: $flyout-menu-background;
	color: color-yiq( $flyout-menu-background );
	border: $flyout-menu-border;
	transition: visibility 0.25s, transform 0.25s ease-in-out;
	overflow-y: auto;

	li {
		color: $flyout-menu-link-color;
	}

	.flyout-menu-open & {
		visibility: visible;
		transform: translateX(0) !important;
		transition: transform 0.25s ease-in-out;
	}

	&.two-column {
		display: grid;
		align-items: center;
		justify-content: stretch;
		max-width: unset;

		@media screen and ( min-width: $flyout-menu-breakpoint ) {
			justify-content: center;
			padding-left: $spacer-lg;
			padding-right: $spacer-lg;
			padding-bottom: 0;
		}

		.flyout-menu-wrap {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: $spacer;
			align-items: center;
			justify-content: center;
			width: 100%;
	
			@media screen and ( min-width: $flyout-menu-breakpoint ) {
				height: 100%;
				grid-template-columns: auto 1fr;
				overflow: hidden;
			}
		}

		.flyout-menu-left {
			@media screen and ( min-width: $flyout-menu-breakpoint ) {
				max-height: 100%;
				max-width: $flyout-menu-max-width;
				width: $flyout-menu-max-width;
				overflow-y: auto;
				padding-right: $spacer;
				padding-top: $spacer;
				padding-bottom: $spacer;
			}
		}

		.flyout-menu-content {
			@media screen and ( min-width: $flyout-menu-breakpoint ) {
				max-height: 100%;
				overflow-y: auto;
				padding-top: $spacer;
				padding-bottom: $spacer;
			}
		}

		.top-bar {
			margin-bottom: -$spacer;

			@media screen and ( min-width: $flyout-menu-breakpoint ) {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.flyout-menu-menus {
			@media screen and ( min-width: $flyout-menu-breakpoint ) {
				border-left: 1px solid $flyout-menu-menus-link-border-color;
				border-right: 1px solid $flyout-menu-menus-link-border-color;
			}
		}
	}

	.flyout-menu-left {
		display: flex;
		flex-direction: column;
		row-gap: $spacer;
	}

	.flyout-menu-right {
		flex-grow: 1;
	}

	.flyout-menu-menus {
		border-top: 1px solid $flyout-menu-menus-link-border-color;
		background-color: $flyout-menu-menus-background;
		color: color-yiq( $flyout-menu-menus-background );

		li {
			color: $flyout-menu-menus-link-color;

			&:where( .inactive ) {
				color: $menu-link-inactive-color;
			}
		}

		a {
			display: block;
			padding-left: $spacer;
			padding-right: $spacer;
			color: inherit;
		}
	}

	.top-bar {
		display: flex;
		justify-content: flex-end;
	}

	.menu,
	.sub-menu {
		margin: 0;
		padding-left: 0;
		list-style: none;

		a {
			outline-offset: -0.125rem;
			text-decoration: none;
		}
	}

	.top-level-menus,
	.sub-menu {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		width: 100%;
		transition: visibility 0.25s, transform 0.25s ease-in-out;
	}

	.sub-menu {
		visibility: hidden;
		transform: translateX(100%);
		z-index: 1;

		.menu-item {
			a {
				padding-left: $spacer-lg;
			}
		}

		a {
			width: 100% !important;
		}

		&.active {
			visibility: visible;
			transform: translateX(0);
		}
	}

	.sub-menu-open {
		visibility: hidden !important;
		transform: translateX(-100%) !important;
	}

	.menu-title {
		font-weight: bold;
		text-transform: uppercase;
	}

	.menu-back {
		background-color: $flyout-menu-back-button-background;

		> a {
			position: relative;
			padding-left: 2.5rem !important;

			&::before {
				@include icon-mask( 'arrow-left-alt2' );
				left: $spacer-sm;
				width: $spacer-lg;
				padding: 0;
			}
		}
	}

	.menu-clones {
		position: relative;
		overflow: hidden;
		flex-shrink: 0;
		transition: height 0.25s ease-in-out;
	}

	.menu-back,
	.tier-1,
	.menu-title,
	.sub-menu {
		a {
			padding-top: $spacer-sm;
			padding-bottom: $spacer-sm;
			border-bottom: 1px solid $flyout-menu-menus-link-border-color;
		}
	}

	.tier-2 {
		padding-top: $spacer-sm;
		padding-bottom: $spacer-sm;
		> .menu-item {
			> a {
				font-size: $font-size-sm;
			}
		}
	}

	.menu-item-has-children {
		& > a {
			position: relative;
			padding-right: $spacer-lg;

			&::after {
				@include icon-mask( 'arrow-left-alt2' );
				transform: rotate( 180deg );
				left: auto;
				right: $spacer-sm;
				width: $spacer-lg;
				padding: 0;
			}
		}
	}

	.widget_block {
		> :last-child {
			margin-bottom: 0;
		}
	}
}
