.footer-navigation {
	.menu-container {
		.menu {
			justify-content: $menu-footer-justify-content;
		}

		// Ensure footer link color takes precedence
		li {
			color: $footer-link-color;

			&:hover,
			&:focus,
			&:focus-within,
			&:active {
				color: $footer-link-hover-color;
			}
		}
	}
}
