a {
	color: $link-color;

	&:hover:not( .button, .wp-block-button__link ),
	&:focus:not( .button, .wp-block-button__link ),
	&:active:not( .button, .wp-block-button__link ) {
		color: $link-color-hover;
  }

	&:focus {
		outline: thin dotted;
  }

	&:hover,
	&:active {
		outline: 0;
	}
}
