a {
	color: $link-color;

	&:hover,
	&:focus,
	&:active {
		&:not( .button ):not( .wp-block-button__link ) {
			color: $link-color-hover;
		}
  }

	&:focus {
		outline: thin dotted;
  }

	&:hover,
	&:active {
		outline: 0;
	}
}
