*:not( .button ) {
	> a {
		color: $link-color;

		&:hover,
		&:focus,
		&:active {
			&:not( .button ):not( .wp-block-button__link ) {
				color: $link-hover-color;
			}
		}

		&:focus {
			outline: thin dotted;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}
}

.link-extend {
	cursor: pointer;
}
