.main-navigation {
	display: none;

	@media screen and (min-width: $menu-breakpoint) {
		display: block;
	}

	> .wrap {
		@include center-wrap($wrap-max-width);
		@include layout-wrap();
		padding: $main-navigation-wrap-padding;
	}
}
