.main-navigation {
	display: none;

	@media screen and (min-width: $menu-breakpoint) {
		display: block;
	}

	> .wrap {
		@include center-wrap($wrap-max-width);
		padding: $main-navigation-wrap-padding-y $main-navigation-wrap-padding-x;
	}
}
