.comment-navigation,
.posts-navigation,
.post-navigation {
  > .nav-links {
    @include center-wrap($nav-links-max-width);
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
  }

  .site-main & {
    margin: 1.5em auto;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.pagination {
  .page-numbers {
    display: flex;
    justify-content: center;
    padding-left: 0;

    li {
      display: block;
      margin-left: $spacer-sm;
      margin-right: $spacer-sm;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
