.comment-navigation,
.posts-navigation,
.post-navigation {
  > .nav-links {
    @include center-wrap($nav-links-max-width);
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }

  .site-main & {
    margin: 1.5em 0;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
