.site {
	.search-form-toggle {
		justify-content: center;
		position: relative;
		padding: 0;
		margin: 0;

		> a {
			display: block;
			position: relative;
			width: 100%;
			min-height: 40px;
			text-indent: -999rem;
			white-space: nowrap;
			overflow: hidden;
			min-width: 3rem;

			&::before {
				@include icon-mask( 'search' );
			}
		}
	}
}

.search-form-toggle {
	.search-form {
		position: absolute;
		z-index: 100;
		display: flex;
		align-items: center;
		margin: 0;
		padding: $spacer;
		column-gap: $spacer-sm;
		background-color: $white;
		border-top: 3px solid $action;
		box-shadow: 2px 2px 10px 0 rgba($black, 0.3);

		label {
			margin-bottom: 0;
		}

		.search-field {
			padding: $button-padding;
			width: 300px;
		}

		.search-submit {
			border: 1px solid $action;
		}

		#menu-clones & {
			position: static;
			display: flex;
			box-shadow: 0 0 0 0;
			border-bottom: 1px solid $input-border-color;

			label {
				flex-grow: 1;

				.search-field {
					width: 100%;
				}
			}
		}
	}
}
