.split-left-navigation {
  @media screen and (min-width: $menu-toggle-breakpoint) {
    margin-right: $menu-split-left-margin-right;
  }

  ul {
    justify-content: $menu-split-left-justify-content;
  }
}

.split-right-navigation {
  @media screen and (min-width: $menu-toggle-breakpoint) {
    margin-left: $menu-split-right-margin-left;
  }

  ul {
    justify-content: $menu-split-right-justify-content;
  }
}
