.menu-toggle {
	position: relative;
	margin: 0;
	height: 3rem;
	width: 3rem;
	padding: $menu-toggle-padding-y $menu-toggle-padding-x;
	display: $menu-toggle-display;
	text-decoration: none !important;
}

.menu-opener {
	&::before {
		@include icon-mask( 'menu-alt' );
	}
}

.menu-closer-icon {
	&::before {
		@include icon-mask( 'no-alt' );
	}
}

.menu-opener-container {
	&.hide-on-desktop {
		@media screen and (min-width: $menu-breakpoint) {
			display: none !important;
		}
	}
}
