.menu-toggle {
  margin-left: auto;
  margin-right: auto;
  display: block;

  @media screen and (min-width: $menu-toggle-breakpoint) {
    display: none;
  }
}

.toggle-target {
  .menu-container {
    ul {
      display: none;

      @media screen and (min-width: $menu-toggle-breakpoint) {
        display: flex;
        flex-wrap: wrap;
        justify-content: $menu-justify-content;
      }

      ul {
        @media screen and (max-width: $menu-toggle-breakpoint) {
          display: block;
          position: initial;
          box-shadow: none;
          background-color: transparent;
        }
      }
    }
  }
  &.toggled {
    ul {
      display: block;

      @media screen and (min-width: $menu-toggle-breakpoint) {
        display: flex;
      }
    }
  }
}
