$column-sizes: (
  'xs': 100px,
  'sm': 150px,
  'md': 300px,
  'lg': 400px,
  'xl': 500px
);

$alignments: (
  start,
  center,
  end,
  stretch
);

.wp-block-emma-responsive-grid {

  @each $name, $size in $spacer-sizes {
    &.col-gap-#{$name} {
      .responsive-grid__inner-container {
        column-gap: $size;
      }
    }

    &.row-gap-#{$name} {
      .responsive-grid__inner-container {
        row-gap: $size;
      }
    }

    &.x-padding-#{$name} {
      padding-left: $size;
      padding-right: $size;
    }
  }

  @each $name, $size in $column-sizes {
    &.col-#{$name} {
      .responsive-grid__inner-container {
        @media screen and ( min-width: calc( #{$size} * 2 ) ) {
          grid-template-columns: repeat( auto-fill, minmax( $size, 1fr ) );
        }
      }
    }
  }

  @each $alignment in $alignments {
    &.x-#{$alignment} {
      .responsive-grid__inner-container {
        justify-items: $alignment;
      }
    }

    &.y-#{$alignment} {
      .responsive-grid__inner-container {
        align-items: $alignment;
      }
    }

    .wp-block-emma-grid-cell {
      &.x-#{$alignment} {
        justify-self: $alignment;
      }
    }

    .wp-block-emma-grid-cell {
      &.y-#{$alignment} {
        align-self: $alignment;
      }
    }
  }

  .responsive-grid__inner-container {
    display: grid;
  }
}

.wp-block-emma-grid-cell {
  > :last-child() {
    margin-bottom: 0;
  }
}
