.wp-block-emma-flexslider.flexslider {
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;

  .flex-direction-nav{
    a {
      height: 60px;

      &.flex-prev:before {
        font-family: "dashicons";
        content: "\f341";
      }

      &.flex-next:before {
        font-family: "dashicons";
        content: "\f345";
      }
    }
  }

  &.show-arrows {
    .flex-direction-nav{
      .flex-prev {
        opacity: 0.7;
        left: 10px;
      }

      .flex-next {
        opacity: 0.7;
        right: 10px;
      }

      .flex-prev,
      .flex-next {
        text-shadow: unset;

        &:before {
          text-shadow: unset;
        }
      }
    }
  }

  .wp-block-emma-slide {
    > *:last-of-type() {
      margin-bottom: 0 !important; //try to make sure the bottom item in each slide has no bottom margin
    }
  }

  .flex-control-nav {
    display: flex;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX( -50% );
    width: unset;

    a {
      overflow: hidden;
    }
  }
}
