.wp-block-emma-flexslider {
  padding-left: 0;
  padding-right: 0;
  border: 0;

  .flex-direction-nav{
    a {
      height: 60px;

      &.flex-prev:before {
        font-family: "dashicons";
        content: "\f341";
      }

      &.flex-next:before {
        font-family: "dashicons";
        content: "\f345";
      }
    }
  }

  &.show-arrows {
    .flex-direction-nav{
      .flex-prev {
        opacity: 0.7;
        left: 10px;
      }

      .flex-next {
        opacity: 0.7;
        right: 10px;
      }
    }
  }

  .wp-block-emma-slide {
    > *:last-of-type() {
      margin-bottom: 0 !important; //try to make sure the bottom item in each slide has no bottom margin
    }
  }

  .flex-control-nav {
    bottom: -$spacer-lg;
  }
}
