.wp-block-emma-flexslider {
  padding-left: 0;
  padding-right: 0;
  border: 0;

  .flex-direction-nav{
    a {
      height: 60px;

      &.flex-prev:before {
        font-family: "dashicons";
        content: "\f341";
      }

      &.flex-next:before {
        font-family: "dashicons";
        content: "\f345";
      }
    }
  }

  &.show-arrows {
    .flex-direction-nav{
      .flex-prev {
        opacity: 0.7;
        left: 10px;
      }

      .flex-next {
        opacity: 0.7;
        right: 10px;
      }
    }
  }
}
