$two-columns-breakpoint: 600px;
$full-columns-breakpoint: 782px;

.wp-block-column {
	margin: 0 !important;
}

.wp-block-columns {
	&.rg-0 {
		row-gap: 0;
	}

	&.rg-md {
			row-gap: $spacer;
	}

	&.cg-0 {
		column-gap: 0;
	}

	&.cg-md {
		column-gap: $spacer;
	}

	&.cg-sm {
		column-gap: $spacer;
	}
}
