.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout {
  display: grid;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout > .wp-block {
  max-width: unset;
  margin-left: unset;
  margin-right: unset;
}

.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout > .wp-block .wp-block {
  width: 100%;
  max-width: unset;
}

.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout > .wp-block > .editor-block-list__block-edit {
  min-height: calc( 100% - 4px - 1.5rem );
  margin-top: -14px;
  margin-bottom: -14px;
}

.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout > .wp-block > .block-editor-block-list__insertion-point {
  height: 100%;
  right: auto;
  left: -14px;
  top: 14px;
}

.wp-block-emma-responsive-grid > .editor-inner-blocks > .editor-block-list__layout > .wp-block > .block-editor-block-list__insertion-point > .block-editor-block-list__insertion-point-inserter {
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  height: 100%;
  align-items: center;
}

/* Column Widths */

@media screen and ( min-width: calc( 200px ) ) {
  .wp-block-emma-responsive-grid.col-xs .editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 100px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 300px ) ) {
  .wp-block-emma-responsive-grid.col-sm .editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 150px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 600px ) ) {
  .wp-block-emma-responsive-grid.col-md .editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 800px ) ) {
  .wp-block-emma-responsive-grid.col-lg .editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 400px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 1000px ) ) {
  .wp-block-emma-responsive-grid.col-xl .editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 500px, 1fr ) );
  }
}

/* Column Gap */

.wp-block-emma-responsive-grid.col-gap-none .editor-block-list__layout {
  column-gap: 0;
}

.wp-block-emma-responsive-grid.col-gap-xs .editor-block-list__layout {
  column-gap: 0.25rem;
}

.wp-block-emma-responsive-grid.col-gap-sm .editor-block-list__layout {
  column-gap: 0.5rem;
}

.wp-block-emma-responsive-grid.col-gap-md .editor-block-list__layout {
  column-gap: 1rem;
}

.wp-block-emma-responsive-grid.col-gap-lg .editor-block-list__layout {
  column-gap: 2rem;
}

.wp-block-emma-responsive-grid.col-gap-xl .editor-block-list__layout {
  column-gap: 4rem;
}

/* Row Gap */

.wp-block-emma-responsive-grid.row-gap-none .editor-block-list__layout {
  row-gap: 0;
}

.wp-block-emma-responsive-grid.row-gap-xs .editor-block-list__layout {
  row-gap: 0.25rem;
}

.wp-block-emma-responsive-grid.row-gap-sm .editor-block-list__layout {
  row-gap: 0.5rem;
}

.wp-block-emma-responsive-grid.row-gap-md .editor-block-list__layout {
  row-gap: 1rem;
}

.wp-block-emma-responsive-grid.row-gap-lg .editor-block-list__layout {
  row-gap: 2rem;
}

.wp-block-emma-responsive-grid.row-gap-xl .editor-block-list__layout {
  row-gap: 4rem;
}

/* Horizontal Alignment */

.wp-block-emma-responsive-grid.x-start .editor-block-list__layout {
  justify-items: start;
}

.wp-block-emma-responsive-grid.x-center .editor-block-list__layout {
  justify-items: center;
}

.wp-block-emma-responsive-grid.x-end .editor-block-list__layout {
  justify-items: end;
}

.wp-block-emma-responsive-grid.x-stretch .editor-block-list__layout {
  justify-items: stretch;
}

/* Vertical Alignment */

.wp-block-emma-responsive-grid.y-start .editor-block-list__layout {
  align-items: start;
}

.wp-block-emma-responsive-grid.y-center .editor-block-list__layout {
  align-items: center;
}

.wp-block-emma-responsive-grid.y-end .editor-block-list__layout {
  align-items: end;
}

.wp-block-emma-responsive-grid.y-stretch .editor-block-list__layout {
  align-items: stretch;
}

/**
 * Grid Cell Styles
 */

.wp-block-emma-responsive-grid [data-type="emma/grid-cell"].is-selected .wp-block-emma-grid-cell,
.wp-block-emma-responsive-grid [data-type="emma/grid-cell"].has-child-selected .wp-block-emma-grid-cell {
  padding: 1px 1rem;
}

/* Horizontal Alignment */

[data-type="emma/grid-cell"].x-start {
  justify-self: start;
}

[data-type="emma/grid-cell"].x-center {
  justify-self: center;
}

[data-type="emma/grid-cell"].x-end {
  justify-self: end;
}

[data-type="emma/grid-cell"].x-stretch {
  justify-self: stretch;
}

/* Vertical Alignment */

[data-type="emma/grid-cell"].y-start {
  align-self: start;
}

[data-type="emma/grid-cell"].y-center {
  align-self: center;
}

[data-type="emma/grid-cell"].y-end {
  align-self: end;
}

[data-type="emma/grid-cell"].y-stretch {
  align-self: stretch;
}
