.woocommerce {

  .site-main {

    > * {
      margin: $spacer-lg auto;
      max-width: $wc-max-width;
      padding-left: $content-padding-x;
      padding-right: $content-padding-x;
    }
  }
}


.woocommerce-page {
  .site-main {
    .entry-content > * {
      max-width: $wc-max-width;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .screen-reader-text {
    @include sr-only;
  }
}
