a,
.wp-element-button,
button,
summary {
	outline-offset: 3px;
	outline-width: 3px;
	outline-color: currentColor;

	&:hover {
		opacity: 0.9;
	}

	&:focus-visible {
		outline-style: solid;
	}
}

.wp-element-button {
	--bg-color: var( --wp--custom--button-background-color ); /* prevents a parent element with a background color from affecting the outline color */
}

:where( :not( .is-style-outline ) ) > .wp-block-button__link,
:where( :not( .is-style-outline ) ) > .wp-element-button {
	outline-color: var( --bg-color );
}