body {
	--full-height: calc( 100svh - var( --wp-admin--admin-bar--height, 0px ) );
}

.block-editor {
	--full-height: calc( 100svh - 139px );

	@media screen and ( min-width: 782px ) {
		--full-height: calc( 100svh - 81px );
	}
}