:root {
	--layout-spacer-x: 1rem; /* TODO: swap to WP custom prop */

	@media screen and ( min-width: 480px ) {
		--layout-spacer-x: 2rem;
	}

	@media screen and ( min-width: 768px ) {
		--justify-content-right-menu: space-between;
	}
}