.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-title,
.entry-title {
  text-align: center;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-thumbnail,
.post-thumbnail {
  text-align: center;

  img {
    max-width: 100%;
  }
}

// @TODO: BEGIN Convert to SASS variables
.entry-meta {
  > .wrap {
    @include center-wrap($size__wrap-entry-meta);
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }
}
.entry-content {
  > * {
    margin: 2em auto;
    max-width: $size__content;
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }
}

.entry-footer {
  margin: 1.5em 0 0;

  > .wrap {
    @include center-wrap($size__wrap-entry-footer);
    display: flex;
    flex-wrap: wrap;
    align-items: $flex__entry-footer-align-items;
    justify-content: $flex__entry-footer-justify-content;
    padding-left: $content__padding-x;
    padding-right: $content__padding-x;
  }

  .edit-link {
    width: 100%;
    display: block;
    text-align: center;
  }
}
// @TODO: END Convert to SASS variables
