// Center wrap
@mixin center-wrap($maxWidth) {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns-margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Remove a:hover underline {
@mixin remove-hover-underline {
	&:hover, &:focus {
		text-decoration: none;
	}
}

// Button format
@mixin button {
  background-color: $button-background-color;
  color: $button-color;
  display: inline-block;
  padding: $spacer-xs $spacer-sm;
  border: 0px;
  border-radius: 3px;

  &:hover {
    background-color: $button-background-color-hover;
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem $button-outline-color-focus;
  }

  &:disabled, &.disabled {
    background-color: rgba( $button-background-color, .5 );
    cursor: not-allowed;

    &:active, &:focus, &:hover {
      outline-color: transparent;
    }
  }
}