// Center wrap
@mixin center-wrap($maxWidth) {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns-margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Remove a:hover underline {
@mixin remove-hover-underline {
	&:hover, &:focus {
		text-decoration: none;
	}
}

// Button format
@mixin button() {
	display: inline-block;
	padding: $button-padding;
	border: $button-border;
	border-radius: $button-border-radius;

	&:hover,
	&:active,
	&:focus {
		filter: $button-hover-filter-effect;
		text-decoration: none;
	}

	&:active, &:focus {
		outline: 0;
	}

	&:disabled, &.disabled:not( :disabled ), &.loading {
    filter: $button-disabled-filter-effect;
		cursor: not-allowed;

		&:active, &:focus {
      box-shadow: none;
    }
	}

	&.loading {
		color: transparent !important;

		&::before {
			content: "\f463";
			animation: loading-spin 1s infinite;
   		animation-timing-function: linear;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			font-family: 'dashicons';
			font-size: $base-unit * 1.5;
		}

		@keyframes loading-spin {
			0% {
				 transform: translate( -50%, -50% ) rotate( 0deg );
			}
			100% {
				 transform: translate( -50%, -50% ) rotate( 360deg );
			}
	 }
	}
}

@mixin color( $color ) {
	color: var(--color);
	@include color-custom-properties( $color );
}

@mixin color-custom-properties( $color ) {
	--color: #{$color};
	@if color-yiq( $color ) == $yiq-text-dark {
		--color-contrast-sm: #{shade( $color, 6% )};
		--color-contrast-md: #{shade( $color, 25% )};
	} @else {
		--color-contrast-sm: #{tint( $color, 6% )};
		--color-contrast-md: #{tint( $color, 40% )};
	}
}

@mixin background-color( $bg-color ) {
	background-color: var(--bg-color);
	color: var(--color);
	@include background-color-custom-properties( $bg-color );
}

@mixin background-color-custom-properties( $bg-color ) {
	--bg-color: #{$bg-color};
	--color: #{color-yiq( $bg-color )};
	@if color-yiq( $bg-color ) == $yiq-text-dark {
		--bg-color-contrast-sm: #{shade( $bg-color, 6% )};
		--bg-color-contrast-md: #{shade( $bg-color, 25% )};
	} @else {
		--bg-color-contrast-sm: #{tint( $bg-color, 6% )};
		--bg-color-contrast-md: #{tint( $bg-color, 40% )};
	}
}

@mixin sr-only-focusable-fixed() {
	@include sr-only-focusable;

  &:focus {
    display: block;
    position: fixed;
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: #f1f1f1;
    color: #0073aa;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    box-sizing: content-box;
    outline-offset: -1px;
  }
}

@mixin grid-template-columns-responsive( $min-width ) {
  @media screen and ( min-width: calc( #{$min-width} * 2 ) ) {
    grid-template-columns: repeat( auto-fill, minmax( $min-width, 1fr ) );
  }
}

@mixin d-none-overlay() {
	position: relative;

	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: repeating-linear-gradient(
			-55deg,
			rgba( $white, 0.2 ),
			rgba( $white, 0.2 ) 10px,
			rgba( $black, 0.15 ) 10px,
			rgba( $black, 0.15 ) 20px
		);
		z-index: 10000;
	}
}

/*--------------------------------------------------------------
# BEGIN BOOTSTRAP MIXINS
--------------------------------------------------------------*/

// stylelint-disable declaration-no-important

// Only display content to screen readers
//
// See: https://a11yproject.com/posts/how-to-hide-content/
// See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/

@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Use to only display content when it's focused.
//
// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1

@mixin sr-only-focusable {
  &:not(:focus) {
    @include sr-only();
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/*--------------------------------------------------------------
# END BOOTSTRAP MIXINS
--------------------------------------------------------------*/
