.sidebar-content-sidebar {
	.site-content {
		@include center-wrap($wrap-max-width);

		@media screen and (min-width: $layout-breakpoint-sm) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: $layout-breakpoint-lg) {
			grid-template-columns: $layout-sidebar-content-sidebar-columns;
		}
	}

	.content-area {
		@media screen and( min-width: $layout-breakpoint-sm ) {
			grid-column: 1 / span 2;
		}

		@media screen and (min-width: $layout-breakpoint-lg) {
			grid-column: 2;
		}
	}

	.primary-widget-area {
		@media screen and (min-width: $layout-breakpoint-lg) {
			grid-column: 1;
		}
	}

	.secondary-widget-area {
		@media screen and (min-width: $layout-breakpoint-sm) {
			grid-column: 2;
			grid-row: 2;
		}

		@media screen and (min-width: $layout-breakpoint-lg) {
			grid-column: 3;
			grid-row: 1;
		}
	}
}
