.content-area {
	float: right;
	margin: 0 0 0 (-$sidebar-width);
}

.site-main {
	margin: 0 0 0 $sidebar-width;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $sidebar-width;
}

.site-footer {
	clear: both;
}

@import "no-sidebar";
