@media only screen and (min-width: $align-breakpoint) {
	.wp-block[data-align="left"],
	.wp-block[data-align="right"] {
		> * {
			max-width: calc(50% - #{$spacer});
		}
	}
}

.editor-styles-wrapper {
	.dashicons,
	.dashicons-before:before {
		font-family: "dashicons";
	}

	strong {
		font-weight: 700;
	}
}

.media-menu-item {
	color: $black;
}
