// @TODO: BEGIN Convert to SASS

.wp-block-emma-responsive-grid {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      display: grid;

      > .wp-block {
        max-width: unset;
        min-height: 2rem;
        min-width: 4rem;
        margin-left: unset;
        margin-right: unset;
        margin-top: unset;
        margin-bottom: unset;
        border: 1px dashed lightgray;

        .wp-block {
          width: 100%;
          max-width: unset;
        }

        // > .block-editor-block-list__insertion-point {
        //   height: 100%;
        //   right: auto;
        //   left: -14px;
        //   top: 14px;

        //   > .block-editor-block-list__insertion-point-inserter {
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: auto;
        //     height: 100%;
        //     align-items: center;
        //   }
        // }
      }
    }
  }
}

/* Column Widths */

@media screen and ( min-width: calc( 200px ) ) {
  .wp-block-emma-responsive-grid.col-xs .block-editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 100px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 300px ) ) {
  .wp-block-emma-responsive-grid.col-sm .block-editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 150px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 600px ) ) {
  .wp-block-emma-responsive-grid.col-md .block-editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 800px ) ) {
  .wp-block-emma-responsive-grid.col-lg .block-editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 400px, 1fr ) );
  }
}

@media screen and ( min-width: calc( 1000px ) ) {
  .wp-block-emma-responsive-grid.col-xl .block-editor-block-list__layout {
    grid-template-columns: repeat( auto-fill, minmax( 500px, 1fr ) );
  }
}

/* Column Gap */

.wp-block-emma-responsive-grid.col-gap-none .block-editor-block-list__layout {
  column-gap: 0;
}

.wp-block-emma-responsive-grid.col-gap-xs .block-editor-block-list__layout {
  column-gap: 0.25rem;
}

.wp-block-emma-responsive-grid.col-gap-sm .block-editor-block-list__layout {
  column-gap: 0.5rem;
}

.wp-block-emma-responsive-grid.col-gap-md .block-editor-block-list__layout {
  column-gap: 1rem;
}

.wp-block-emma-responsive-grid.col-gap-lg .block-editor-block-list__layout {
  column-gap: 2rem;
}

.wp-block-emma-responsive-grid.col-gap-xl .block-editor-block-list__layout {
  column-gap: 4rem;
}

/* Row Gap */

.wp-block-emma-responsive-grid.row-gap-none .block-editor-block-list__layout {
  row-gap: 0;
}

.wp-block-emma-responsive-grid.row-gap-xs .block-editor-block-list__layout {
  row-gap: 0.25rem;
}

.wp-block-emma-responsive-grid.row-gap-sm .block-editor-block-list__layout {
  row-gap: 0.5rem;
}

.wp-block-emma-responsive-grid.row-gap-md .block-editor-block-list__layout {
  row-gap: 1rem;
}

.wp-block-emma-responsive-grid.row-gap-lg .block-editor-block-list__layout {
  row-gap: 2rem;
}

.wp-block-emma-responsive-grid.row-gap-xl .block-editor-block-list__layout {
  row-gap: 4rem;
}

/* Horizontal Alignment */

.wp-block-emma-responsive-grid.x-start .block-editor-block-list__layout {
  justify-items: start;
}

.wp-block-emma-responsive-grid.x-center .block-editor-block-list__layout {
  justify-items: center;
}

.wp-block-emma-responsive-grid.x-end .block-editor-block-list__layout {
  justify-items: end;
}

.wp-block-emma-responsive-grid.x-stretch .block-editor-block-list__layout {
  justify-items: stretch;
}

/* Vertical Alignment */

.wp-block-emma-responsive-grid.y-start .block-editor-block-list__layout {
  align-items: start;
}

.wp-block-emma-responsive-grid.y-center .block-editor-block-list__layout {
  align-items: center;
}

.wp-block-emma-responsive-grid.y-end .block-editor-block-list__layout {
  align-items: end;
}

.wp-block-emma-responsive-grid.y-stretch .block-editor-block-list__layout {
  align-items: stretch;
}

/**
 * Grid Cell Styles
 */

.wp-block-emma-grid-cell {
  margin-top: -28px;
  margin-bottom: -28px;

  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      > .block-list-appender {
        > .block-editor-default-block-appender {
          display: block !important;
        }
      }
    }
  }
}

/* Horizontal Alignment */

[data-type="emma/grid-cell"].x-start {
  justify-self: start;
}

[data-type="emma/grid-cell"].x-center {
  justify-self: center;
}

[data-type="emma/grid-cell"].x-end {
  justify-self: end;
}

[data-type="emma/grid-cell"].x-stretch {
  justify-self: stretch;
}

/* Vertical Alignment */

[data-type="emma/grid-cell"].y-start {
  align-self: start;
}

[data-type="emma/grid-cell"].y-center {
  align-self: center;
}

[data-type="emma/grid-cell"].y-end {
  align-self: end;
}

[data-type="emma/grid-cell"].y-stretch {
  align-self: stretch;
}
