// @TODO: BEGIN Convert to SASS & fix columns issue in admin

.wp-block-emma-slider {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      display: grid;
      grid-gap: 1rem;
      align-items: stretch;
      justify-items: stretch;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      > .block-editor-block-list__block {
        margin-top: -28px;
        margin-bottom: -28px;
      }
    }
  }

  @for $i from 2 through 5 {
    &.columns-#{$i} {
      > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
          grid-template-columns: repeat( #{$i}, 1fr );
        }
      }
    }
  }
}

.wp-block-emma-slider > .editor-inner-blocks > .editor-block-list__layout > .wp-block .wp-block {
  width: 100%;
  max-width: unset;
}

.wp-block-emma-slider > .editor-inner-blocks > .editor-block-list__layout > .wp-block > .editor-block-list__block-edit {
  min-height: calc( 100% - 4px - 1.5rem );
  margin-top: -14px;
  margin-bottom: -14px;
}

.wp-block-emma-slide > .editor-inner-blocks > .editor-block-list__layout {
  padding: 1px 1rem;
}

.wp-block-emma-slider [data-type="emma/slide"] > .editor-block-list__insertion-point {
  top: 0;
}
