.site-header {
  background-color: $color__background-header;

  .wrap {
    @include center-wrap($size__wrap-header);
    display: flex;
    align-items: center;
  }

  .site-branding {
    padding: $branding__padding-y $branding__padding-x;
    min-width: $branding__min-width;
    text-align: $branding__text-align;
  }
}

/*--------------------------------------------------------------
## Sticky Header
--------------------------------------------------------------*/
//@import "sticky-header";
