img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a {
	color: var( --link-color );

	&:hover {
		text-shadow: 0 0 1px currentColor;
	}

	&:focus {
		outline: 3px solid;
		outline-offset: 3px;
	}

	&.inactive,
	.inactive > & {
		color: inherit;
		cursor: default;
		text-decoration: none;

		&:hover {
			text-shadow: none;
		}

		&:focus {
			outline: none;
		}
	}
}

p:empty {
	display: none;
}
