img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a {
	// Global a:hover is handled by Reboot, no need to repeat it here
	&:focus,
	&:active {
		color: $link-hover-color;
	}

	&:focus {
		outline: thin dotted;
	}

	&.inactive {
		color: inherit;
		cursor: default;
		
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	
		&:focus {
			outline: none;
		}
	}
}

p:empty {
	display: none;
}
