img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a {
  // Global a:hover is handled by Reboot, no need to repeat it here
  &:focus,
  &:active {
    color: $link-hover-color;
  }

  &:focus {
    outline: thin dotted;
  }
}

p:empty {
  display: none;
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  max-height: 90vh;
  max-width: 90vw;
  border: 0;
  overflow-y: auto;

  > * {
    width: 100%;
    max-width: $content-max-width-sm;
  }

  > :last-child() {
    margin-bottom: 0;
  }
}
