.alignleft,
.alignright {
	max-width: calc( 50% - #{$spacer} );

	@media screen and ( max-width: $align-breakpoint - 1px ) {
		float: none;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;

		.wp-block-image & {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}
