.alignleft,
.alignright {
	max-width: calc( 50% - #{$spacer} );
	width: 100%;

	@media screen and ( max-width: $align-breakpoint - 1px ) {
		float: none !important;
		max-width: 100%;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}
