@if $enable-sticky-header {
  .site-header {
    @media screen and (min-width: $breakpoint-sm) {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 5;
    }

    .admin-bar & {
      top: 46px;

      @media screen and (min-width: $breakpoint-md) {
        top: 32px;
      }
    }

    .shrink & {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }
  }

  .site-content {
    .admin-bar & {
      @media screen and (min-width: $breakpoint-sm) {
        margin-top: $sticky-header-offset;
      }
    }
  }
}
