// display utilities
.d-none {
  display: none !important;
}

// separator utilities
.sep {
  padding-left: $spacer-sm;
  padding-right: $spacer-sm;
}

// text transform utilities
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
